.question-page{
    width: 100%;
    height:100vh;
    background-color:#F5F7FB;
    color: #293264; 
    font-family:'Trebuchet MS';
    padding-top: 5%;
    font-size: 20px;
    line-height: 18px;
    font-weight: 900;
}
.all-questions-container{
    width: 40%;
    margin: auto;
    /* text-align: left; */
}

.single-question{
    margin-bottom: 18px;
}

.question{
    margin-bottom: 10px;
}

.answers{
    display: flex;
    flex-direction: row;
    gap:20px;
    /* font-size: 20px; */

}
.border-btm{
    width: 100%;
    height: 1px;
    background-color: #D6DBF5;
    
    opacity: 100%;
    margin: auto;
    margin-top: 30px;
}
.answer{
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    border: 0.7px solid #4D5B9E;
    padding: 10px;
    border-radius: 8px;
    background-color: #F5F7FB;
    color: #293264;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    
}

.answer-selected{
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    border: 0.7px solid #4D5B9E;
    padding: 10px;
    border-radius: 8px;
    background-color: #D6DBF5;
    color: #293264;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.answer-correct{
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    /* border: 0.7px solid #4D5B9E; */
    padding: 10px;
    border-radius: 8px;
    background-color: #94D7A2;
    color: #293264;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    border: none;
    font-weight: bold;
}
.answer-wrong{
     /* display: flex; */
     flex-direction: row;
     gap: 20px;
     /* border: 0.7px solid #4D5B9E; */
     padding: 10px;
     border-radius: 8px;
     background-color: #F8BCBC;
     color: #293264;
     min-width: 100px;
     text-align: center;
     padding: 5px;
     opacity: 50%;
     border: none;
     font-weight: bold;
}
.answer-not-selected{
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    border: 0.7px solid #4D5B9E;
    padding: 10px;
    border-radius: 8px;
    background-color: #F5F7FB;
    color: #293264;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    opacity: 50%;
    font-weight: bold;

}
.btn-check{
    width:120px;
    height: 35px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
    border: none;
    margin-left:20px ;
    font-weight: bold;
}
.footer-btn-container{
    text-align: center;
    width: 100%;
    margin: auto;
}

.start-quiz-container{
    width: 100%;
    height:100vh;
    background-color:#F5F7FB;
    color: #293264; 
    font-family:'Trebuchet MS';
    /* padding-top: 5%; */
    font-size: 70px;
    line-height: 18px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    padding-top: 0%;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
/* .quizzical{
    /* margin: auto; */

.quizzical-btn{

    width:250px;
    height: 70px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 20px;
    border: none;
    margin-left:20px ;
    font-weight: bold;
}